---
import { Image } from "astro:assets";
import SkillBadge from "./SkillBadge.astro";
import { ExternalLink, Eye } from "@lucide/astro";
import type { CollectionEntry } from "astro:content";

interface Props {
  project: CollectionEntry<"projects">;
}

const { project } = Astro.props;

function formatPeriod(startDate: Date, endDate?: Date) {
  const options: Intl.DateTimeFormatOptions = {
    month: "short",
    year: "numeric",
  };
  const start = startDate.toLocaleDateString("en-US", options);
  const end = endDate
    ? endDate.toLocaleDateString("en-US", options)
    : "Present";
  return `${start} - ${end}`;
}
---

<article class="card bg-base-100 shadow-xl hover:shadow-2xl transition-shadow">
  <a href={`/projects/${project.id}`}>
    <figure class="aspect-video">
      <Image
        src={project.data.image}
        alt={project.data.title}
        class="w-full h-full object-cover"
        width={600}
        height={400}
      />
    </figure>
  </a>
  <div class="card-body">
    <h3 class="card-title hover:text-primary transition-colors">
      <a href={`/projects/${project.id}`}>{project.data.title}</a>
    </h3>
    <time class="text-sm text-base-content/60">
      {formatPeriod(project.data.startDate, project.data.endDate)}
    </time>
    <p class="text-base-content/80">{project.data.description}</p>
    <div class="flex flex-wrap gap-2 mt-2">
      {project.data.skills.map((skill) => <SkillBadge skill={skill} />)}
    </div>
    <div class="card-actions justify-end mt-4 gap-2">
      {
        project.data.demoLink && (
          <a
            href={project.data.demoLink}
            target="_blank"
            rel="noopener noreferrer"
            class="btn btn-sm btn-soft gap-1"
          >
            <ExternalLink class="size-4" />
            Link
          </a>
        )
      }
      {
        project.data.sourceLink && (
          <a
            href={project.data.sourceLink}
            target="_blank"
            rel="noopener noreferrer"
            class="btn btn-sm btn-soft gap-1"
          >
            PDF
          </a>
        )
      }
      <div class="tooltip" data-tip="View details">
        <a href={`/projects/${project.id}`} class="btn btn-sm btn-primary">
          <Eye class="size-4" />
        </a>
      </div>
    </div>
  </div>
</article>
